RewriteEngine On

# Redirige las peticiones de la API a la carpeta de endpoints
# Ej: /api/products -> /api/endpoints/products.php
RewriteRule ^api/([\w-]+)/?$ api/endpoints/$1.php [L]

# Si la petición no es un archivo o directorio existente...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# ...redirige todo a index.html para que el router de JavaScript se encargue.
RewriteRule ^(.*)$ index.html [L,QSA]